  body {
      background: linear-gradient(90deg, rgba(254, 229, 229, 1) 0%, rgba(203, 165, 161, 1) 100%);
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  /* Link to "Contact Us" page */
  
  .contact-us {
      border: 3px solid white;
      border-radius: 25px;
      font-family: 'Bitter', serif;
      font-family: 'Mukta', sans-serif;
      font-family: 'PT Serif', serif;
  }
  
  .link-contact-us a {
      color: rgb(27, 27, 27);
      padding: 10px;
  }
  
  .link-contact-us a:hover {
      color: white;
      transition: all 0.4s;
      background-color: rgba(231, 214, 214, 0.486);
      padding: 10px;
  }
  /* Header */
  
  h1 {
      text-align: center;
      font-family: 'Bitter', serif;
      font-family: 'Mukta', sans-serif;
      font-family: 'PT Serif', serif;
  }
  /* Text */
  
  p {
      text-align: center;
      font-family: 'Bitter', serif;
      font-family: 'Mukta', sans-serif;
      font-family: 'PT Serif', serif;
  }
  /* Links */
  
  a {
      text-decoration: none;
      font-family: 'Bitter', serif;
      font-family: 'Mukta', sans-serif;
      font-family: 'PT Serif', serif;
  }
  /* Back button to the menu */
  
  .symbols {
      font-size: 60px;
      font-weight: bold;
      color: black;
  }
  
  .menu {
      margin-left: 30px;
      width: 100px;
      height: 100px;
      margin-top: 20px;
      display: inline-block;
  }
  
  #credit-symbol {
      text-align: center;
  }
  /* Responsive style */
  
  @media (max-width:3000px) {
      .contact-us {
          margin-top: 30px;
          margin-right: 30px;
          float: right;
          padding: 10px;
      }
      iframe {
          margin-bottom: 5%;
          margin-left: 25%;
          display: block;
          width: 900px;
          height: 450px;
      }
      h1 {
          font-size: 40px;
      }
      p {
          font-size: 20px;
      }
      footer {
          background: linear-gradient(4deg, rgba(117, 127, 144, 1) 0%, rgba(165, 173, 183, 1) 35%, rgba(208, 214, 218, 1) 89%);
          position: absolute;
          width: 90%;
          padding: 5%;
          margin-top: 5%;
          text-align: center;
          font-family: 'Bitter', serif;
          font-family: 'Mukta', sans-serif;
          font-family: 'PT Serif', serif;
      }
      #text-footer {
          column-count: 3;
      }
      footer img {
          width: 10%;
          float: left;
      }
      #facebook {
          width: 15%;
          margin-left: 45%;
      }
      @media (max-width:1600px) {
          iframe {
              margin-left: 20%;
          }
      }
      @media (max-width:1500px) {
          iframe {
              margin-left: 18%;
          }
          footer {
              position: absolute;
              width: 90%;
              padding: 5%;
              margin-top: 5%;
              text-align: center;
              font-family: 'Bitter', serif;
              font-family: 'Mukta', sans-serif;
              font-family: 'PT Serif', serif;
          }
          #text-footer {
              column-count: 3;
          }
          footer img {
              width: 10%;
              float: left;
          }
          #facebook {
              width: 15%;
              margin-left: 45%;
          }
      }
      @media (max-width:1430px) {
          footer {
              position: absolute;
              width: 90%;
              padding: 5%;
              margin-top: 5%;
              text-align: center;
              font-family: 'Bitter', serif;
              font-family: 'Mukta', sans-serif;
              font-family: 'PT Serif', serif;
          }
          #text-footer {
              column-count: 3;
          }
          footer img {
              width: 10%;
              float: left;
          }
          #facebook {
              width: 15%;
              margin-left: 45%;
          }
          #bottom-two {
              margin-bottom: 20%;
          }
      }
      @media (max-width:1390px) {
          iframe {
              margin-left: 15%;
          }
      }
      @media (max-width:1230px) {
          iframe {
              margin-left: 12%;
          }
      }
      @media (max-width:1140px) {
          iframe {
              margin-left: 10%;
          }
      }
      @media (max-width:1090px) {
          iframe {
              margin-left: 6%;
          }
          footer {
              position: absolute;
              width: 90%;
              padding: 5%;
              margin-top: 5%;
              text-align: center;
              font-family: 'Bitter', serif;
              font-family: 'Mukta', sans-serif;
              font-family: 'PT Serif', serif;
          }
          #text-footer {
              column-count: 3;
          }
          footer img {
              width: 10%;
              float: left;
          }
          #facebook {
              width: 15%;
              margin-left: 45%;
          }
          #bottom-two {
              margin-bottom: 30%;
          }
          #bottom-three {
              margin-top: 20%;
          }
      }
      @media (max-width:990px) {
          iframe {
              margin-left: 7%;
              width: 800px;
              height: 450px;
          }
      }
      @media (max-width:890px) {
          iframe {
              margin-left: 10%;
              width: 700px;
              height: 350px;
          }
          #text-footer {
              column-count: 2;
              font-size: 15px;
          }
          #bottom-three {
              margin-top: 30%;
          }
          #logo-one {
              display: none;
          }
          #facebook {
              width: 15%;
              margin-left: 45%;
          }
      }
      @media (max-width:810px) {
          iframe {
              margin-left: 10%;
              width: 600px;
              height: 350px;
          }
          #text-footer {
              column-count: 2;
              font-size: 15px;
          }
          #bottom-one {
              margin-bottom: 0%;
          }
          #bottom-two {
              margin-top: 20%;
          }
          #bottom-three {
              margin-top: 30%;
          }
          #facebook {
              width: 15%;
              margin-left: 45%;
          }
      }
      @media (max-width:690px) {
          iframe {
              margin-left: 12%;
              width: 500px;
              height: 350px;
          }
          #text {
              font-size: 15px;
          }
          h1 {
              font-size: 30px;
          }
          #text-footer {
              column-count: 1;
              font-size: 15px;
          }
          #bottom-one {
              margin-top: 0%;
              margin-bottom: 0%;
          }
          #bottom-two {
              margin-top: 0%;
              margin-bottom: 0%;
          }
          #bottom-three {
              margin-top: 0%;
              margin-bottom: 0%;
          }
          #facebook {
              width: 15%;
              margin-left: 45%;
          }
      }
      @media (max-width:560px) {
          iframe {
              margin-left: 11%;
              width: 400px;
              height: 250px;
          }
      }
      @media (max-width:470px) {
          iframe {
              margin-left: 3%;
              width: 400px;
              height: 250px;
          }
      }
      @media (max-width:400px) {
          iframe {
              margin-left: 10%;
              width: 300px;
              height: 150px;
          }
          .contact-us {
              border: 3px solid white;
              border-radius: 25px;
              font-family: 'Bitter', serif;
              font-family: 'Mukta', sans-serif;
              font-family: 'PT Serif', serif;
          }
          .link-contact-us a {
              color: rgb(27, 27, 27);
              padding: 5px;
              font-size: 15px;
          }
          #text-footer {
              font-size: 15px;
          }
      }
      @media (max-width:340px) {
          iframe {
              margin-left: 15%;
              width: 200px;
              height: 150px;
          }
          #text-footer {
              font-size: 12px;
          }
          .contact-us {
              margin-right: 2px;
          }
          .link-contact-us a {
              color: rgb(27, 27, 27);
              padding: 2px;
              font-size: 15px;
          }
      }
  }