h1{
    text-align:center;
}

/*the menu button */
.menu{
    color:black;
    margin:30px;
    display: inline-block;
  }

  /*for the contact us form and page */
.contactus{
    margin-top:30px;
    margin-right:30px;
    float:right;
}

a{
    text-decoration:none;
}

.symbols{
    font-size: 60px;  
    font-weight: bold;
}
      
.form{
    display:inline-block;
    margin-top:5%;
    padding:10%;
    border:1px solid black;
    column-count:2;

}

.section1{
display:inline-block;
margin-left:20%;
font-size:20px;
}

.section2{
    display:inline-block;
    margin-left:20%;
    font-size:20px;

}

.email{
    width:70px;
}
