body {
  background: linear-gradient(90deg, rgba(218,210,153,1) 37%, rgba(176,218,185,1) 93%); 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

/*style for the title Министертво на вътрешните работи. Главна дирекция "Пожарна безопастност и защита на населението" */

.title {
  display: block;
  text-align: center;
  margin-top: 17%;
  font-size: 37px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

/*the menu button */
 
.menu {
  color: black;
  margin: 30px;
  display: inline-block;
}

a {
  text-decoration: none;
}

/*for the contact us form and page */
.contactus {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  border: 3px solid white;
  padding: 10px;
  border-radius: 25px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

.linkContactUs a {
  color: rgb(27, 27, 27);
  padding: 10px;
}

.linkContactUs a:hover {
  color: white;
  transition: all 0.4s;
  background-color: rgba(231, 214, 214, 0.486);
  padding: 10px;
}

/* button for the first form */
#buttonForm1 {
  margin-top: 8%;
  text-align: center;
  color: black;
  display: inline-block;
  border-radius: 1.92px;
  font-weight: 30px;
  margin: 0px 4.8px 4.8px 0px;
  padding: 5.6px 19.2px;
  border: 1px solid white;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 18px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#buttonForm1:hover {
  color: rgb(129, 127, 127);
  background-color: white;
}

.modal1 {
  display: none;
  /* makes it hidden by default */
  position: fixed;
  /* stays in place */
  left: 0;
  /* makes it a center */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.form1 {
  font-size: 15pt;
  background: linear-gradient(to bottom, #ffffff 0%, #ff9999 100%);
  border-radius: 2%;
  margin-top: 15%;
  margin-left: auto;
  /* makes it a center */
  margin-right: auto;
  /* makes it a center */
  padding: 5px;
  width: 23%;
  height: 450px;
}

.form1 h4 {
text-align:center;
}

.form1 label{
  margin-left:35%;
}

.form1 label, textarea,input{
  margin-left:20%;
}

#submit{
  margin-left:35%;
  font-size: 18px;
  margin-top:2%;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
  text-align: center;
  color: black;
  box-sizing: border-box; padding: 5.6px 19.2px;
  border: 1px solid white;border-radius: 1.92px;
}

#submit:hover {
  color: darkgrey;
  background-color: white;
}

/* The Close Button */
.close1 {
  font-size: 50px;
  font-weight: bold;
  color:black;
  margin-bottom: 5%;
  cursor: pointer;
  float:right;
  margin-right:3%;
}

/* button for the second form */

#buttonForm2 {
  margin-top: 8%;
  text-align: center;
  color: black;
  display: inline-block;
  border-radius: 1.92px;
  font-weight: 30px;
  margin: 5px 4.8px 4.8px 0px;
  padding: 5.6px 19.2px;
  border: 1px solid white;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: all 0.2s;
  font-size: 18px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#buttonForm2:hover {
  color: rgb(129, 127, 127);
  background-color: white;
}

.modal2 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.form2 {
  font-size: 15pt;
  background: linear-gradient(to bottom, #ffffff 0%, #ff9999 100%);
  border-radius: 2%;
  margin-top: 15%;
  margin-left: auto;
  /* makes it a center */
  margin-right: auto;
  /* makes it a center */
  padding: 5px;
  width: 23%;
  height: 450px;
}

.form2 h4 {
text-align:center;
}

.form2 label{
  margin-left:35%;
}

.form2 label, textarea,input{
  margin-left:20%;
}

#submit{
  margin-left:35%;
  font-size: 18px;
  margin-top:2%;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
  text-align: center;
  color: black;
  box-sizing: border-box; padding: 5.6px 19.2px;
  border: 1px solid white;border-radius: 1.92px;
}

#submit:hover {
  color: darkgrey;
  background-color: white;
}

/* The Close Button */
.close2 {
  font-size: 50px;
  font-weight: bold;
  color:black;
  margin-bottom: 5%;
  cursor: pointer;
  float:right;
  margin-right:3%;
}
.symbols {
  font-size: 60px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
  color: black;
  font-weight: bold;
}

/* The logo link */

#forms {
  float: right;
  margin-top: 13%;
  margin-right: 2%;
}

#logo {
  float: left;
  margin-top: 9%;
  margin-left: 2%;
}

#logo img {
  width: 30%;
}

#logo p {
  font-size: 20px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}