body {
  background: linear-gradient(90deg, rgba(218,210,153,1) 37%, rgba(176,218,185,1) 93%); 
}

.menuItems {
  margin-top: 10%;
  margin-left: 5%;
  column-count: 3;
}

.links a {
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.links a {
  color: black;
}

.links a:visited {
  color: rgb(110, 104, 104);
}

.links a:hover {
  color: whitesmoke;
  background-color: rgba(167, 173, 175, 0.685);
  border: 1px solid  rgba(167, 173, 175, 0.685);
  border-radius: 5%;
  padding: 2px;
}

.symbols {
  font-size: 60px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
  color: black;
}

.backButton {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  display: inline-block;
}

#logo {
  width: 7%;
  display: inline-block;
  margin-top: 15px;
}

h1 {
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
  font-size: 30px;
}