body{
  background-image: url("../pictures/background.jpg");
}

.menuItems
{
  margin-top:10%;
  margin-left:10%;
  column-count:4;
}

a{
  text-decoration:none;
}

.links a{
    
    color: black;
}

.links a:visited{
  color:lightseagreen;
}

.links a:hover{
  color: whitesmoke;
  background-color:lightblue;
  border: 1px solid lightblue;
  border-radius: 5%;
  padding: 2px;
}
    
.symbols{
    font-size: 60px;  
    font-weight: bold;
    color:black;
}

  
.backButton {
    margin-left:30px;
    width:100px; 
    height:100px ;
    margin-top:20px;
    display:inline-block;
    
  }
  
  #logo{
    width:7%;
    display:inline-block;
    margin-top:15px;
  }
  li{
    font-family: 'Lato', sans-serif;
  }