h1{  

    text-align:center; 
    font-size: 50px;  
    font-weight: bold;  
    font-family: 'Karantina', cursive;
  }  


  h2{  

    text-align:center;  
    font-size: 50px; 
    font-weight: bold;  
    font-family: 'Karantina', cursive;

  }  


  h3{  

    text-align:center;  
    font-size: 50px; 
    font-weight: bold;  
    font-family: 'Karantina', cursive;
  }  


  h4{  

    text-align:center; 
    font-size: 50px;  
    font-weight: bold;  
    font-family: 'Karantina', cursive;

  }  

  
.symbols{
  font-size: 60px;  
  font-weight: bold;
}

/*the menu button */
.menu{
  color:black;
  margin:30px;
  display: inline-block;
}

a{
  text-decoration:none;
}

/*for the contact us form and page */
.contactus{
  margin-top:30px;
  margin-right:30px;
  float:right;
  font-size: 20px; 
  font-family: 'Lato', sans-serif;

}

.text{
  margin-left:20px;
}

ol.roman {
  list-style-type: upper-roman;
}

/* pictures for floods page */
#floodsPic1{
float:left;
margin-left:20%;
}

#floodsPic2{
  float:right;
  margin-right:20%;
}

/* pictures for fires page */
#firesPic1{
  float:left;
  margin-left:20%;
  }
  
  #firesPic2{
    float:right;
    margin-right:20%;
  
}

/* pictures for crashes page */
#crashesPic1{
  float:left;
  margin-left:20%;
  }
  
  #crashesPic2{
    float:right;
    margin-right:20%;
}


/* pictures for earthquakes page */
#earthquakesPic1{
  float:left;
  margin-left:20%;
  }
  
  #earthquakesPic2{
    float:right;
    margin-right:20%;
}


.symbols{
  font-size: 60px;  
  font-weight: bold;
}


.menu {
  margin-left:30px;
  width:100px; 
  height:100px ;
  margin-top:20px;
  display:inline-block;
}

#logo{
  width:7%;
  display:inline-block;
  margin-top:15px;
}
