body {
  background: linear-gradient(90deg, rgba(254, 229, 229, 1) 0%, rgba(203, 165, 161, 1) 100%); 
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

.contactus {
  margin-top: 25px;
  margin-right: 25px;
  float: right;
  border: 3px solid white;
  padding: 10px;
  border-radius: 25px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

.linkContactUs a {
  color: rgb(27, 27, 27);
  padding: 10px;
}

.linkContactUs a:hover {
  color: white;
  transition: all 0.4s;
  background-color: rgba(231, 214, 214, 0.486);
  padding: 10px;
}

/*for the contact us form and page */

.contactus {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

/*the menu button */

.menu {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

a {
  text-decoration: none;
}

.symbols {
  font-size: 60px;
  color: black;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

h3 {
  font-size: 20px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#all {
  column-count: 2;
  margin: 5%;
  margin-left: 15%;
  font-family: 'Lato', sans-serif;
}

.carPics {
  width: 60%;
}

figcaption {
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

footer{
  background: linear-gradient(4deg, rgba(117,127,144,1) 0%, rgba(165,173,183,1) 35%, rgba(208,214,218,1) 89%);
  position:absolute;
  width:90%; 
  column-count: 5;
  padding: 5%;
  margin-top:5%;
  text-align:center;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

footer img{
  margin-left:50%;
  width:70%;

}