body {
    background: linear-gradient(90deg, rgba(184, 240, 237, 1) 8%, rgba(127, 173, 167, 1) 48%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Header*/

h1 {
    text-align: center;
    font-family: 'Bitter', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
}

.contactus {
    float: right;
    border: 3px solid white;
    border-radius: 25px;
    font-family: 'Bitter', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
}

.linkContactUs a {
    color: rgb(27, 27, 27);
}


/* back button to menu */

.symbols {
    font-family: 'Bitter', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
    color: black;
}

.menu {
    margin-left: 30px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: inline-block;
}

footer {
    background: linear-gradient(4deg, rgba(117, 127, 144, 1) 0%, rgba(165, 173, 183, 1) 35%, rgba(208, 214, 218, 1) 89%);
    position: absolute;
    text-align: center;
    font-family: 'Bitter', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
}

#creditSymbol {
    text-align: center;
}


/* TABLE STYLE */

table,
td,
th {
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Bitter', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
}

.titles {
    background: linear-gradient(90deg, rgba(184, 240, 237, 1) 0%, rgba(90, 149, 142, 1) 29%);
}

.data {
    background-color: rgba(255, 255, 255, 0.335);
    font-size: 15px;
}

@media (max-width:3000px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 3;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 50%;
        margin-left: 10%;
    }
    /* first person style */
    #firstPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* second person style */
    #secondPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    /* third person style */
    #thirdPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* fourth person style */
    #fourthPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    table {
        border-collapse: collapse;
        width: 70%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
}

@media (max-width:1600px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 3;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 50%;
        margin-left: 10%;
    }
    /* first person style */
    #firstPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* second person style */
    #secondPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    /* third person style */
    #thirdPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* fourth person style */
    #fourthPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    table {
        border-collapse: collapse;
        width: 70%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
    #all {
        column-count: 2;
    }
    .picsUsers2 {
        width: 50%;
        margin-left: 20%;
    }
    #tableUser1 {
        margin-left: 8%;
    }
}

@media (max-width:960px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 3;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 75%;
        margin-left: 1px;
    }
    /* first person style */
    #firstPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* second person style */
    #secondPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    /* third person style */
    #thirdPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* fourth person style */
    #fourthPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
    #all {
        column-count: 2;
    }
    .picsUsers2 {
        width: 70%;
        margin-left: 5%;
    }
    #tableUser1 {
        margin-left: 1px;
        width: 100%;
    }
}

@media (max-width:860px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 2;
        font-size: 25;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #bottm1 {
        margin-bottom: 30%;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 75%;
        margin-left: 1px;
    }
    /* first person style */
    #firstPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* second person style */
    #secondPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    /* third person style */
    #thirdPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* fourth person style */
    #fourthPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
    #all {
        column-count: 2;
    }
    .picsUsers2 {
        width: 70%;
        margin-left: 5%;
    }
    #tableUser1 {
        margin-left: 1px;
        width: 100%;
    }
}

@media (max-width:840px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 2;
        font-size: 15;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #bottom1 {
        margin-bottom: 20%;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 75%;
        margin-left: 1px;
    }
    /* first person style */
    #firstPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* second person style */
    #secondPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    /* third person style */
    #thirdPerson {
        display: inline-block;
        margin-left: 20%;
    }
    /* fourth person style */
    #fourthPerson {
        display: inline-block;
        margin-left: 15%;
        margin-top: 5%;
    }
    table {
        border-collapse: collapse;
        width: 80%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
    #all {
        column-count: 2;
    }
    .picsUsers2 {
        width: 70%;
        margin-left: 5%;
    }
    #tableUser1 {
        margin-left: 1px;
        width: 80%;
    }
}

@media (max-width:615px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 1;
        font-size: 15;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #bottom1 {
        margin-bottom: 20%;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 75%;
        margin-left: 1px;
    }
    table {
        column-count: 1;
        border-collapse: collapse;
        width: 80%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
    #all {
        column-count: 1;
    }
    .picsUsers2 {
        column-count: 1;
        width: 70%;
        margin-left: 7%;
        margin-top: 5%;
    }
    #tableUser1 {
        column-count: 1;
        margin-left: 10px;
        width: 80%;
    }
}

@media (max-width:390px) {
    h1 {
        font-size: 50px;
    }
    /*for the contact us form and page */
    .contactus {
        margin-top: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .linkContactUs a {
        padding: 10px;
    }
    a {
        text-decoration: none;
    }
    .symbols {
        font-size: 60px;
        font-weight: bold;
    }
    footer {
        width: 90%;
        padding: 5%;
        margin-top: 5%;
    }
    #textFooter {
        column-count: 1;
        font-size: 15;
    }
    footer img {
        width: 10%;
        float: left;
    }
    #bottom1 {
        margin-bottom: 20%;
    }
    #facebook {
        width: 15%;
        margin-left: 45%;
    }
    .picsUsers {
        width: 75%;
        margin-left: 1px;
    }
    table {
        column-count: 1;
        border-collapse: collapse;
        width: 80%;
    }
    td {
        padding: 15px;
    }
    .titles {
        font-size: 20px;
    }
    .data {
        font-size: 15px;
    }
    #all {
        column-count: 1;
    }
    .picsUsers2 {
        column-count: 1;
        width: 70%;
        margin-left: 7%;
        margin-top: 5%;
    }
    #tableUser1 {
        column-count: 1;
        margin-left: 10px;
        width: 80%;
    }
}

#logo1 {
    display: none;
}