body {
  background: linear-gradient(120deg, rgba(221, 214, 243, 1) 25%, rgba(250, 172, 168, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#firstText {
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

#petya {
  float: left;
  margin-left: 18%;
  padding: 2%;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#petya a {
  color: midnightblue;
}

#petya a:visited {
  color: lightseagreen;
}

#petya a:hover {
  color: whitesmoke;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5%;
  padding: 5px;
}

#poli {
  float: right;
  margin-right: 2%;
  padding: 2%;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#poli a {
  color: midnightblue;
}

#poli a:visited {
  color: lightseagreen;
}

#poli a:hover {
  color: whitesmoke;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5%;
  padding: 5px;
}

#vesi {
  float: left;
  margin-left: 15%;
  padding: 5%;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#vesi a {
  color: midnightblue;
}

#vesi a:visited {
  color: lightseagreen;
}

#vesi a:hover {
  color: whitesmoke;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5%;
  padding: 5px;
}

#kami {
  float: right;
  margin-top:3%;
  margin-right: 5%;
  padding: 2%; 
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#kami a {
  color: midnightblue;
}

#kami a:visited {
  color: lightseagreen;
}

#kami a:hover {
  color: whitesmoke;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5%;
  padding: 5px;
}

img {
  width: 30%;
}

/*the menu button */

#menu {
  margin-left:3%;
  margin-top:2%;
  display: inline-block;
  text-align: center;
  color: black;
  display: inline-block;
  border-radius: 1.92px;
  font-weight: 30px;
  padding: 5.6px 19.2px;
  border: 1px solid white;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: all 0.2s;
  font-size: 15px;
  font-family: 'Bitter', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Serif', serif;
}

#menu:hover {
  color: darkgrey;
  background-color: white;
}

a {
  text-decoration: none;
}